.addDevice {
  text-align: center;
}
.addDevice hr{
  margin: 20px 0 40px;
}
.addDevice h5 {
  margin-bottom: 20px;
}
.addDevice-panel{
  display: flex;
  align-items: center;
  justify-content: center;
}
.addDevice-panel button{
  margin-left: 20px;
}

.device{
  margin-bottom: 20px;
}
.device-input {
  display: block !important;
}